@mixin list_wrapper($margin-left:0,$margin-bottom:0) {
      display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * $margin-left);
  margin-bottom: calc(-1 * $margin-bottom);
};

@mixin items_in_row_for_flex($items_in_row:1,$margin-left:0,$margin-bottom:0) {
      flex-basis: calc(100% / $items_in_row - var(--standard-clearance));
  margin-left: $margin-left;
  margin-bottom: $margin-bottom;
};

@mixin bg_image_for_2x ($image_url){

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) ,
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url($image_url),
    linear-gradient(#c4c4c4, #c4c4c4);
  }
}